body {
  font: 1rem sans-serif;
}

div.box-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: .2rem;
  height: auto;
  /* border: 1px solid; */
}

div.day {
  background-color: #dddcdc;
  border: 1px solid;
  border-radius: 3px;
  border-color: #585858;
  text-align: center;
} 

.app-header {
  background-color: rgb(93, 93, 252);
  color: white;
}
